.cor-dashboard-detailed {
    display: block;
    margin: .5rem;
}

.cor-dashboard-detailed__title {
    display: flex;
}

.cor-dashboard-detailed__body {
    padding: 1.5rem;
}

.cor-dashboard-detailed select {
    font-size: var(--global-font-size);
    margin-left: auto;
}

.cor-dashboard-article__extradetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
}