.cor-dashboard-overview {
    align-content: space-between;
    align-items: flex-start;
    background-color: #E6EDEC;
}

@media (min-width: 800px) {
    .cor-dashboard-overview {
        display: flex;
        flex-wrap: wrap;
    }
}

