.cor-dashboard-overview,
:host {
    align-content: space-between;
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

@supports (display: grid) {
    .cor-dashboard-overview,
    :host {
        /*
        display :grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 6px;
        grid-auto-flow: dense;
        align-content: stretch;
        */
    }
}