.cor-dashboard-card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(50, 50, 93, .1);
    margin: .5rem;
    width: 18rem;
}

.cor-dashboard-card {
    transition: opacity 300ms ease-in-out;
}

.cor-dashboard-card.hidden {
    opacity: 0;
}

ol {
    list-style: none;
    padding: 0;
}

/* Layout of the card */
.cor-dashboard-card__title,
.cor-dashboard-card__body {
    padding: 1rem;
}



/* Title of the card */
.cor-dashboard-card__title {
    background-color: var(--cor-secondary);
    border-bottom: solid 1px var(--gray-200);
    color: var(--europe);
    display: flex;
    font-size: var(--h5-font-size);
    font-weight: bold;
}

/* Number in the title of the carg*/
.cor-dashboard-card__title__total {
    font-weight: 100;
    margin-left: auto;
}

/* Lists in card */
.cor-dashboard-card li {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.cor-dashboard-card li + li {
  border-top: solid 1px var(--cor-thirdry);
}