:host {
    border: solid 1px var(--gray-200);
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(50, 50, 93, .1);
    margin: .5rem
}

.cor-dashboard-card__body {
    padding: 1rem;
}


:host {
    transition: opacity 300ms ease-in-out;
}

:host(.hidden) {
    opacity: 0;
}