.cor-dashboard-card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 93, 0.1);
  margin: 0 0 1.5rem 0;
  min-width: 0;
}

@media (min-width: 800px) {
  .cor-dashboard-card {
    width: calc((100% / 3) - 1.5rem);
  }
}
.cor-dashboard-card {
  transition: opacity 300ms ease-in-out;
}

.cor-dashboard-card.hidden {
  opacity: 0;
}

ol {
  list-style: none;
  padding: 0;
}

.cor-dashboard-card a:visited {
  color: rgb(0, 123, 255);
}

/* Layout of the card */
.cor-dashboard-card__title,
.cor-dashboard-card__body {
  padding: 1rem 2rem;
}

/* Title of the card */
.cor-dashboard-card__title {
  border-bottom: solid 1px var(--gray-200);
  color: var(--gray-900);
  display: flex;
  font-size: var(--h4-font-size);
  font-weight: normal;
}

/* Number in the title of the carg*/
.cor-dashboard-card__title__total {
  font-weight: bold;
  margin-left: auto;
}

/* Lists in card */
.cor-dashboard-card__listing-item {
  display: flex;
}

.cor-dashboard-card__listing-item strong {
  margin-left: auto;
}

.cor-dashboard-card li {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
}

/* Multilinguism card */
.cor-dashboard-multilinguismTable {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}

.cor-dashboard-multilinguismTable h2 {
  font-size: 0.8rem;
  font-weight: bold;
}

.cor-dashboard-multilinguismTable h2,
.cor-dashboard-multilinguismTable > ol li:first-child {
  padding: 0.5rem 0;
}

.cor-dashboard-multilinguismTable > div,
.cor-dashboard-multilinguismTable li {
  display: block;
  text-align: center;
}

.cor-dashboard-multilinguismTable li:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

.cor-dashboard__multilinguismTable__en {
  background: var(--cor-thirdry);
  color: var(--europe);
  border-left: none;
  border-right: none;
}

/* /Multilinguism card */

/* Layout */
.cor-dashboard-card[size="full"] {
  width: 100%;
}

/* Colors */
.cor-dashboard-card {
  position: relative;
}

.cor-dashboard-card:after {
  background: linear-gradient(
    to right,
    var(--cor-news) 0%,
    var(--cor-events) 25%,
    var(--cor-opinions) 50%,
    var(--cor-studies) 75%,
    var(--cor-brochures) 100%
  );
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

.cor-dashboard-card[category="news"]:after {
  background: var(--cor-news);
}

.cor-dashboard-card[category="events"]:after {
  background: var(--cor-events);
}

.cor-dashboard-card[category="opinions"]:after {
  background: var(--cor-opinions);
}

.cor-dashboard-card[category="studies"]:after {
  background: var(--cor-studies);
}

.cor-dashboard-card[category="brochures"]:after {
  background: var(--cor-brochures);
}

/* full height for lang usage card */
.cor-dashboard-card[category="lang-usage"] {
  display: flex;
  flex-direction: column;
}

.cor-dashboard-card[category="lang-usage"] .cor-dashboard-card__title {
  width: 100%;
}

.cor-dashboard p.cor-dashboard-card__listing-item {
  line-height: 1em;
}
