a {
  text-decoration: none;
}

.cor-dashboard-filter {
  padding: 0.5rem 0;
}

.cor-dashboard-filter__title {
  margin: 0;
}

.cor-dashboard-filter__title > button {
  border: none;
  cursor: pointer;
  display: flex;
  font-size: var(--global-font-size);
  line-height: 20px;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  width: 100%;
}

.cor-dashboard-filter__list {
  padding: 0 1rem;
}

.cor-dashboard-filter li {
  list-style: none;
}

.cor-dashboard-filter li li {
  list-style: none;
  padding-right: 0;
}

.cor-dashboard-filter__list a {
  color: #fff;
  font-size: var(--global-font-size);
  font-weight: 100;
  padding: 0;
}

.cor-dashboard-filter__list a:hover {
  color: #fff;
}

.cor-dashboard-filter__list label {
  color: #fff;
  display: flex;
  flex: 1;
  padding: .5rem .5rem .5rem 2rem;
}

.cor-dashboard-filter__list a:hover {
  background-color: #ffffff0f;
}

.cor-dashboard-filter__list label {
  cursor: pointer;
}


.cor-dashboard-filter__list div {
  padding: 0.5rem 0;
}

.cor-dashboard-filter__list__item__link {
  padding: 0.5rem 1rem;
}

.cor-dashboard-filter__list__item__link,
.cor-dashboard-filter__list__item__sublink {
  font-weight: 500;
  display: flex;
}

.cor-dashboard-filter__list__item__link .cor-dashboard-filter__counter,
.cor-dashboard-filter__list__item__sublink .cor-dashboard-filter__counter {
  align-self: center;
  background: rgba(187, 214, 221, 0.4);
  border-radius: 11px;
  color: #fff;
  font-size: 11px;
  margin-left: auto;
  padding: 3px 12px;
}

.cor-dashboard-filter button svg {
  margin-right: 0.5rem;
}

.cor-dashboard-filter a svg path {
  transition: fill 0.2s ease-out;
}

.cor-dashboard-filter a:hover svg path {
  fill: var(--gray-800);
}

.cor-dashboard-filter__list__item__link--parent {
  align-items: center;
}

.cor-dashboard-filter__list__item__link--parent:after {
  background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-plus' fill='#fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  content: "";
  height: 16px;
  order: 1;
  width: 16px;
}

.cor-dashboard-filter__list__item__link--parent + ul {
  display: none;
  opacity: 0;
  transition: opacity 0.35s ease-out;
}

.cor-dashboard-filter__list__item__link--parent.active:after {
  background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-dash' fill='#fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");;
}

.cor-dashboard-filter__list__item__link--parent.active.active + ul {
  display: block;
  opacity: 1;
  padding-left: 1rem
}

/*
 * Expand/Collapse 
 */
.cor-dashboard-filter__list-container {
  overflow: hidden;
}

.cor-dashboard-filter [data-toggle="collapse"] {
  align-items: center;
}

.cor-dashboard-filter [data-toggle="collapse"]:after,
.cor-dashboard-filter .expandable > button:after {
  background: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-chevron-down' fill='#fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E")
    100% 0 no-repeat;
  content: "";
  display: inline-block;
  margin-left: auto;
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

.cor-dashboard-filter.js-collapsed button:after {
  transform: rotate(0);
}

.cor-dashboard-filter.expandable .cor-dashboard-filter__list-container {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.cor-dashboard-filter.js-collapsed .cor-dashboard-filter__list-container {
  opacity: 0;
}

.cor-dashboard-filter.expandable.js-collapsed ul li {
  transform: translateY(-50px);
}

.cor-dashboard-filter.expandable ul li {
  transform: translateY(0);
  transition: transform 0.15s cubic-bezier(0.45, 0.05, 0.47, 0.91);
}

/* Specific Layout */
#languages ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#languages li {
  border-bottom: 1px dotted var(--gray-300);
}

.cor-dashboard-filter__list__item__link .form-group {
  margin: 0;
}

.cor-dashboard-filter__list__item__link {
  margin: 0;
}

.cor-dashboard-filter__list--contenttypes
.cor-dashboard-filter__list__item__link[data-filter] {
  align-content: center;
  display: flex;
  position: relative;
  padding: 0;
}

.cor-dashboard-filter__list__item__link[data-filter] input + span {
  flex: 1;
}

.cor-dashboard-filter__list--contenttypes
  .cor-dashboard-filter__list__item__link[data-filter]:before {
  background: linear-gradient(
    to right,
    var(--cor-news) 0%,
    var(--cor-events) 25%,
    var(--cor-opinions) 50%,
    var(--cor-studies) 75%,
    var(--cor-brochures) 100%
  );
  left: 0;
  content: "";
  display: block;
  width: 2px;
  position: absolute;
  top: 0;
  height: 100%;
}

.cor-dashboard-filter__list--contenttypes
  .cor-dashboard-filter__list__item__link[data-filter="news"]:before {
  background: var(--cor-news);
}

.cor-dashboard-filter__list--contenttypes
  .cor-dashboard-filter__list__item__link[data-filter="events"]:before {
  background: var(--cor-events);
}

.cor-dashboard-filter__list--contenttypes
  .cor-dashboard-filter__list__item__link[data-filter="opinions"]:before {
  background: var(--cor-opinions);
}

.cor-dashboard-filter__list--contenttypes
  .cor-dashboard-filter__list__item__link[data-filter="studies"]:before {
  background: var(--cor-studies);
}

.cor-dashboard-filter__list--contenttypes
  .cor-dashboard-filter__list__item__link[data-filter="brochures"]:before {
  background: var(--cor-brochures);
}

/* Date */
.cor-dashboard-filter__list__item:last-child .form-group {
  margin: 0;
  padding: 0;
}
