<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  
  <div class="cor-dashboard cor-l-dashboard">
    <aside class="cor-o-dashboard__sidebar">
      {% block sidebar %}

      {% endblock %}
    </aside>
    <main>
      {% block content %}

      {% endblock %}
    </main>
  </div>

  <script>
  const expandableElements = document.querySelectorAll(".expandable a");
  const expandableElements2 = document.querySelectorAll('[data-toggle]');
  // const toggleClass = (el, class) => el.classList.toggle(class);
  const toggleClass = (el, className) => el.classList.toggle(className);

console.log(expandableElements, expandableElements2);


  const debug = ob => {
    console.log(ob);
  }

  expandableElements.forEach( el => el.addEventListener('click', (e) => {
    toggleClass(e.target.parentElement, "expanded");
  }));

  expandableElements.forEach( el => el.addEventListener('click', (e) => {
    console.log("uih");
  }));

  
  /*
  
    
    
    expandableElements.forEach( el => el.addEventListener('click', toggleClass(el, 'expanded')));
*/
  </script>

</body>
</html>
