

.cor-dashboard-detailed-item {
    background: #fff;
    margin: 0 auto 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 4px 0 rgba(50, 50, 93, .1);
}

@media screen and (min-width: 900px) {
    .cor-dashboard-detailed-item {
        display: grid;
        grid-column-gap: 1.5rem;
        grid-template-columns: 1fr 200px;
        grid-template-rows: 2fr;
    }
}

.cor-dashboard-detailed-item__languages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 1.5rem;
    padding: 0;
}

.cor-dashboard-detailed-item__languages-list__item {
    width: calc( 100% / 6 );
}

@media screen and (min-width: 900px) {
    .cor-dashboard-detailed-item__languages-list__item {
        width: auto;
    }
}

.cor-dashboard-detailed-item__contenttype {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.cor-dashboard-detailed-item img {
    border-radius: 4px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
    max-width: 100%;
}

.cor-dashboard-detailed-item img + div {
    grid-column: 2 / 3;
}

.cor-dashboard-detailed-item img + div + ul {
    grid-column: 1 / 3;
}

@media screen and (min-width: 900px) {
    .cor-dashboard-detailed-item img {
        grid-column: 2 / 3;
    }
    
    .cor-dashboard-detailed-item img + div {
        grid-column: 1 / 2;
    }
}

.cor-dashboard-detailed-item__intro-container {
    overflow: hidden;
}

.cor-dashboard-article__theme,
.cor-dashboard-article__label {
    background: var(--gray-500);
    color: #fff;
    margin: 0 .5rem;
    padding: 3px 5px;
}

.cor-dashboard-article__title {
    line-height: 1.4em;
    font-size: var(--h5-font-size);
    font-weight: bold;
}

.cor-dashboard-article__details {
    align-items: center;
    display: flex;
    font-size: .8rem;
}

.cor-dashboard-article__label {
    background-color: var(--cor-primary);
    font-size: 11px;
    margin-left: 0;
}

.cor-dashboard-article__label--pressrelease {
    background-color: var(--cor-color-pressrelease);
}

.cor-dashboard-article__label--regionalnews {
    background-color: var(--cor-color-regionalnews);
}

.cor-dashboard-article__label--successstory {
    background-color: var(--cor-color-successstory);
}

.cor-dashboard-article__label--internationalcoop {
    background-color: var(--cor-color-internationalcoop);
}

[data-lang="EN"] {
    font-weight: 800;
}

/* Colors */
.cor-dashboard-detailed-item {
    position: relative;
}

.cor-dashboard-detailed-item:after {
    background: linear-gradient(to right,  var(--cor-news) 0%,var(--cor-events) 25%,var(--cor-opinions) 50%,var(--cor-studies) 75%,var(--cor-brochures) 100%);
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.cor-dashboard-detailed-item[category=news]:after {
    background: var(--cor-news);
}

.cor-dashboard-detailed-item[category=events]:after {
    background: var(--cor-events);
}

.cor-dashboard-detailed-item[category=opinions]:after {
    background: var(--cor-opinions);
}

.cor-dashboard-detailed-item[category=studies]:after {
    background: var(--cor-studies);
}

.cor-dashboard-detailed-item[category=brochures]:after {
    background: var(--cor-brochures);
}

.cor-dashboard p.cor-dashboard-article__extradetails {
    font-size: 12px;
}