:host {
    border-bottom: solid 1px var(--gray-200);
    display: block;
    padding: 1.5rem;
}

.cor-dashboard-detailed-item__languages-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

span {
    border: solid 1px red;
    background: var(--gray-200);
    border-radius: 10px;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
}

::slotted(img) {
    border-radius: 4px;
    float: left;
    margin-right: 1.5rem;
    width: 100px;
}

.cor-dashboard-detailed-item__intro-container {
    overflow: hidden;
}

.cor-dashboard-detailed-item__theme {
    background: var(--gray-500);
    color: #fff;
    padding: 1.5rem;
}