.cor-dashboard-languages-overview {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}

.cor-dashboard-languages-overview:before {
    background-color: var(--gray-100);
    border: solid 1px var(--gray-100);
    border-radius: 20px;
    content: "";
    display: block;
    height: 10px;
    margin-bottom: .5rem;
    width: 10px;
}

.cor-dashboard-languages-overview[data-status="translated"]:before {
    background-color: var(--gray-500);
    border-color: var(--gray-500);
}

.cor-dashboard-languages-overview[data-status="draft"]:before {
    border-color: var(--gray-500);
}

.cor-dashboard-languages-overview__label {
    font-size: .6rem;
}