.cor-l-dashboard {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 400px 1fr;
  grid-template-areas: "sidebar main";
  min-height: 100vh;
  margin: 0;
}

.cor-l-dashboard > * {
  height: 100vh;
}

.cor-o-dashboard__sidebar {
  background-color: #f8f9fa;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  padding: 1rem 1rem;
}