/*
 * cor-dashboard
 */
 .cor-dashboard {
  min-height: 100vh;
  position: relative;
 } 

 @media (min-width: 992px) {
  .cor-dashboard {
    display: grid;
    grid-template: "sidebar main" / var(--sidebar-width) 1fr;
  }

  .is-collapsed .cor-dashboard {
    grid-template: "sidebar main" / 0 1fr;
  }
 }

 

 .cor-dashboard p {
  font-size: 14px;
  line-height: 1.4em;
}

.cor-dashboard-nav {
  background: #f8f9fa;
}
/* Layout */
@media (max-width: 992px) {
  .cor-dashboard-nav {
    
    /* position: absolute; */
    transform-origin: 0 0;
    will-change: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    transition-duration: .25s;
    transform-origin: 0 0;
    transform: translateY(128px);
    z-index: 100;
    width: 280px;
  }

  .is-collapsed .cor-dashboard-nav {
    display: block;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
  }

}

.cor-dashboard__sidebar {
  position: absolute;
  z-index: 100;
}

.is-collapsed .cor-dashboard__sidebar {
  z-index: 0;
}

@media (min-width: 992px) {
  .cor-dashboard__sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    grid-area: sidebar;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    transition: transform .2s cubic-bezier(0.38, 0.01, 0.09, 0.98);
    width: 280px;
  }

  .is-collapsed .cor-dashboard .sidebar {
    transform: translateX(-280px);
  }
}



.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}


[role="main"] {
  grid-area: main;  
}
/*
.cor-dashboard {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "navbar navbar"
    "sidebar main";
  min-height: 100vh;
  margin: 0;
}

.cor-dashboard__sidebar {
  background-color: #f8f9fa;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  min-height: 100vh;
  padding: 1rem 1rem;
}

.cor-dashboard__navbar {
  align-items: center;
  display: flex;
  grid-area: navbar;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #343a40!important;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  color: #fff;
  position: relative;
}
*/

/*
 * Navbar
 */
.cor-dashboard-navbar {
  background-color: var(--europe);
  height: 85px;
} 


.cor-dashboard__navbar__brand {
  font-size: 18px;
  font-weight: 100;
  padding: .5rem 1rem;
}

.cor-dashboard-header nav a {
  margin-right: 1rem;
  text-decoration: none;
}

.cor-dashboard-header nav a.active {
  color: var(--gray-800);
  font-weight: bold;
}

/*
 * Header
 */
 .cor-dashboard-header {
  background: rgba(256,256,256,.5);
  border-bottom: solid 1px var(--gray-300);
  display: flex;
  margin-bottom: 1.5rem;
  padding: 1.5rem 4rem;
  align-items: center;
}

.cor-dashboard-header h1 {
  font-size: 2rem;
}

@media screen and (min-width: 800px) {
  .cor-dashboard-header h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 0 1rem 0;
  }
}


.cor-dashboard-header {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "logo title"
                        "logo topnav";
} 

@media screen and (min-width: 800px) {

}

.cor-dashboard-header-img-container {
  grid-area: logo;
  max-width: 100%;
}

.cor-dashboard-header h1 {
  margin: 0;
  grid-area: title;
}

.cor-dashboard-topnav {
  grid-area: topnav;
}

.cor-dashboard-top-tools {
  display: flex;
  height: 100px;
  padding: 0 1.5rem 1.5rem;
}

.cor-dashboard-top-tools button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.cor-dashboard-top-tools > button:nth-child(2) {
  margin-left: auto;
}
