/*
 * Nav
 */
.cor-dashboard__nav {
    display: inline-block;
}

 
/* Nav */
.cor-dashboard__nav {
    list-style: none;
} 

/* Nav Item */
.cor-dashboard__nav-item {

}

/* Nav Link */
.cor-dashboard__nav-link,
.cor-dashboard__nav-link:visited {
    display: flex;
    font-size: var(--global-font-size);
    font-weight: 550;
    align-items: center;
    padding: .5rem 1rem;
    color: var(--gray-800);
    text-decoration: none;
    background-color: transparent;
}


.cor-dashboard__nav__item ul {
    list-style: none;
    margin-left: 1.5rem;
}

.cor-dashboard__nav__item ul a {
    font-weight: 100;
}

/* Icons */
.cor-dashboard__nav-link--home:before,
.cor-dashboard__nav-link--date:before,
.cor-dashboard-filter__list__item__link--date:before,
.cor-dashboard-filter__list__item__link--languages:before,
.cor-dashboard-filter__list__item__link--themes:before {
    background: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 0L0 11.8145L3.04968 13.3597L12.4193 3.86692L21.9508 13.3597L25 11.8145L12.5 0H12.5ZM3.71637 13.6696H3.71683L12.5125 5.17889L21.2836 13.6696H21.2841V13.67V22H14.877V16.1155H10.0685V22H3.71635V13.67V13.6696H3.71637Z' fill='%23B6B6B6'/%3E%3C/svg%3E%0A") no-repeat;
    content: "";
    display: inline-block;
    height: 18px;
    margin-right: .5rem;
    transition: var(--transition);
    width: 20px;
}

.cor-dashboard__nav-link--home:before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0L0 9.45158L2.43974 10.6878L9.9354 3.09354L17.5606 10.6878L20 9.45158L10 0H10ZM2.97309 10.9357H2.97346L10.01 4.14311L17.0269 10.9357H17.0273V10.936V17.6H11.9016V12.8924H8.05483V17.6H2.97308V10.936V10.9357H2.97309Z' fill='%23B6B6B6'/%3E%3C/svg%3E%0A");
}

.cor-dashboard__nav-link--home:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0L0 9.45158L2.43974 10.6878L9.9354 3.09354L17.5606 10.6878L20 9.45158L10 0H10ZM2.97309 10.9357H2.97346L10.01 4.14311L17.0269 10.9357H17.0273V10.936V17.6H11.9016V12.8924H8.05483V17.6H2.97308V10.936V10.9357H2.97309Z' fill='%23616161'/%3E%3C/svg%3E%0A");
}

.cor-dashboard-filter__list__item__link--date:before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4583 9.50002H7.5V13.4584H11.4583V9.50002ZM10.6667 0.791687V2.37502H4.33333V0.791687H2.75V2.37502H1.95833C1.08354 2.37502 0.382917 3.08356 0.382917 3.95835L0.375 15.0417C0.375 15.9165 1.08354 16.625 1.95833 16.625H13.0417C13.9165 16.625 14.625 15.9165 14.625 15.0417V3.95835C14.625 3.08356 13.9165 2.37502 13.0417 2.37502H12.25V0.791687H10.6667ZM13.0417 15.0417H1.95833V6.33335H13.0417V15.0417Z' fill='%23B6B6B6'/%3E%3C/svg%3E%0A");
}

.cor-dashboard-filter__list__item__link--date:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4583 9.50002H7.5V13.4584H11.4583V9.50002ZM10.6667 0.791687V2.37502H4.33333V0.791687H2.75V2.37502H1.95833C1.08354 2.37502 0.382917 3.08356 0.382917 3.95835L0.375 15.0417C0.375 15.9165 1.08354 16.625 1.95833 16.625H13.0417C13.9165 16.625 14.625 15.9165 14.625 15.0417V3.95835C14.625 3.08356 13.9165 2.37502 13.0417 2.37502H12.25V0.791687H10.6667ZM13.0417 15.0417H1.95833V6.33335H13.0417V15.0417Z' fill='%23616161'/%3E%3C/svg%3E%0A");
}

.cor-dashboard-filter__list__item__link--languages:before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0267 2.11765L9.6 0H0V18H2.13333V10.5882H8.10667L8.53333 12.7059H16V2.11765H10.0267Z' fill='%23B6B6B6'/%3E%3C/svg%3E%0A");
}

.cor-dashboard-filter__list__item__link--languages:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0267 2.11765L9.6 0H0V18H2.13333V10.5882H8.10667L8.53333 12.7059H16V2.11765H10.0267Z' fill='%23616161'/%3E%3C/svg%3E%0A");
}

.cor-dashboard-filter__list__item__link--themes:before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 0H5.25C4.7325 0 4.32375 0.272222 4.05375 0.684445L0 6.99611L4.05375 13.3078C4.32375 13.72 4.7325 14 5.25 14H16.5C17.3288 14 18 13.3039 18 12.4444V1.55556C18 0.696111 17.3288 0 16.5 0ZM14.25 9.78833L13.1887 10.8889L10.5 8.10056L7.81125 10.8889L6.75 9.78833L9.43875 7L6.75 4.21167L7.81125 3.11111L10.5 5.89944L13.1887 3.11111L14.25 4.21167L11.5612 7L14.25 9.78833Z' fill='%23B6B6B6'/%3E%3C/svg%3E%0A");
}

.cor-dashboard-filter__list__item__link--themes:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 0H5.25C4.7325 0 4.32375 0.272222 4.05375 0.684445L0 6.99611L4.05375 13.3078C4.32375 13.72 4.7325 14 5.25 14H16.5C17.3288 14 18 13.3039 18 12.4444V1.55556C18 0.696111 17.3288 0 16.5 0ZM14.25 9.78833L13.1887 10.8889L10.5 8.10056L7.81125 10.8889L6.75 9.78833L9.43875 7L6.75 4.21167L7.81125 3.11111L10.5 5.89944L13.1887 3.11111L14.25 4.21167L11.5612 7L14.25 9.78833Z' fill='%23616161'/%3E%3C/svg%3E%0A");
}

/* Filters Button */
.cor-dahsboard-btncontainer {
    padding: 0 1rem 1rem;
}

.cor-dashboard-filtersbtn {
    background: var(--cor-primary);
    margin: 0;
    width: 100%;
}

.cor-dashboard-filtersbtn.disabled {
    opacity: .35;
}

.cor-dashboard-filtersbtn.disabled:hover {
    cursor: not-allowed;
}

/* Button */
.cor-dashboard-slidebtn {
    align-items: stretch;
    background: transparent;
    border: none;
    height: 36px;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: auto;
    position: absolute;
    top: 56px;
    left: 290px;
    width: 36px;
}

.cor-dashboard-slidebtn span {
    background: var(--gray-700);
    border-radius: 2px;
    display: block;
    height: 4px;
    transition: opacity .2s;
    opacity: .5;
}

.cor-dashboard-slidebtn:hover {
    background-color: none;
    cursor: pointer;
}

.cor-dashboard-slidebtn:hover span {
    background: var(--gray-800);
    opacity: 1;
}

@media (max-width: 830px) {
    .cor-dashboard-slidebtn {
        left: 20px;
    }
}
