/*
 * Nav
 */

* {
    margin: 0;
    padding: 0;
}
 
/* Nav */
.cor-dashboard__nav {
    list-style: none;
} 

/* Nav Item */
.cor-dashboard__nav-item {

}

/* Nav Link */
.cor-dashboard__nav-link {
    display: block;
    font-size: var(--global-font-size);
    font-weight: 550;
    padding: .5rem 1rem;
    color: var(--gray-800);
    text-decoration: none;
    background-color: transparent;
}


