body {
    background-color: var(--cor-gray);
    color: var(--cor-dark);
    font-size: calc(var(--global-font-size / 16px) * 1em);
    line-height: calc(var(--global-line-heigh) / var(--global-font-size) );   
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    min-height: 100%;
}

body * {
    box-sizing: border-box;
}

.cor-dashboard-chart__backbtn {
    margin-bottom: 1.5rem;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cor_button {
    position: relative;
    font-family: Arial;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: white !important;
    background-color: #60C0DC;
    border: 1px solid #4CB9D8;
    margin-top: 10px;
    height: 29px;    
}

.cor_button {
    display: inline-flex;
    align-items: center;
}

.cor_button--before:before {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.234822 6.98936L6.22979 12.9843L8.44653 10.7676L4.66328 6.9843L8.44653 3.20106L6.22979 0.984314L0.234822 6.97927L0.239883 6.98431L0.234822 6.98936Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    margin-right: .5rem;
    width: 12px;
    height: 12px;
}

.cor_button--after:after {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.234822 6.98936L6.22979 12.9843L8.44653 10.7676L4.66328 6.9843L8.44653 3.20106L6.22979 0.984314L0.234822 6.97927L0.239883 6.98431L0.234822 6.98936Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    margin-left: .5rem;
    width: 12px;
    height: 12px;
    transform:rotate(-180deg);
}

.cor_button:hover {
	background-color: #004896;
	border-color: #004896;
	color: white;
}
